{% extends "base.html" %}

{% block content %}

<div class="card">
    <h1>🍷 Wine Quality Prediction System</h1>

    <p>
        Website ini digunakan untuk menganalisis kualitas wine menggunakan
        Machine Learning Linear Regression.
    </p>

    <p>
        Sistem menyediakan dashboard analisis data serta fitur prediksi
        kualitas wine berdasarkan karakteristik kimia wine.
    </p>

    <a href="/predict">
        <button class="btn">Mulai Prediksi</button>
    </a>
</div>

<div class="card">
    <h2>Fitur Sistem</h2>

    <ul>
        <li>Dashboard Analisis Wine</li>
        <li>Visualisasi Data Interaktif</li>
        <li>Prediksi Kualitas Wine</li>
        <li>Machine Learning Linear Regression</li>
    </ul>
</div>

{% endblock %}